# Ignore virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# VSCode files 
.vscode/
.idea/

OPPE2-Test

.env

Email/
Email 

.gitignore

package-lock.json
package.json

TDS
TDS/


node_modules
node_modules/

MLP_Project
MLP_Project/